body{
            
          
    background-color: darkorange;
}
label{
    color: brown;
    padding-right: 10px;
}
input{
    color: blueviolet;
    background-color: yellow;
    border-radius:15px;
}
button{
    color: burlywood;
    background-color: coral;
    border-radius: 15px;
    margin-right: 20px;
}